<h1 class="jumbotron">Welcome to the Employee Tracker</h1>

<h3>You can add new Division or new Employee in this section:</h3>

<p><a href="/division_form">Click here to add new Division</a></p>
<p><a href="/employee_form">Click here to add new Employee to a Division</a></p>

<% if @divisions.any?() %>

  <h3>This is a list of Divisions</h3>
  <h5>Click on one to see list of Employees assigned to it</h5>

  <ul>
    <% @divisions.each do |division| %>
    <li><a href="/divisions/<%= division.id() %>"><%= division.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no divisions yet!</p>
<% end %>
